/*
    HOW TO USE GOOGLE FONTS
    font-family: 'Noto Sans', sans-serif;

    font-family:'Superspace Bold Italic', sans-serif;
    font-family:'Superspace light', sans-serif;
*/


body {
    padding: 0;
    margin: 0;
    font-family: 'Sukhumvit Set', sans-serif;
    background-color: rgb(220, 220, 220);
    
}
#div_menu{
    width: 1280px;
    height:102px;
    background-color:white;
    margin-left: auto;
    margin-right: auto;
}
#div_menu_left{
    position:absolute;
    height:102px;
    width:320px;
    margin-left:0px;
    color:aqua;
    background-color:white;
}
#div_menu_space{
    width:5px;
}
.a_color_gray{
    color:rgb(147,143,143);
}
.a_color_gray:hover{
    color:rgb(109,115,117);
}
#div_menu_right{
    height:102px;
    width:960px;
    margin-top:55px;
    margin-left:410px;
    padding-left:5px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    color:rgb(147,143,143);
}
.div_menu_inline{
    display:inline-block;
}
#div_jabchai_logo{
    width: 102px;
    height:102px;
    background-image:url(logojabchai.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#div_jabchai_word{
    position:absolute;
    width: 218px;
    height:61px;
    margin-left:0px;
    margin-top:35px;
    background-image:url(JABCHAIword.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#div_app
{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 768px;
    background-color: rgb(201,213,239);
}

#div_content
{
    position: relative;
}

#div_content_left{
    position:absolute;
    height:667px;
    width:824px;
    background-image:url(contactus.png);
    background-repeat:no-repeat;
    background-size:100%;
}
#div_content_right{
    position:absolute;
    margin-left:824px;
    height:667px;
    width:456px;
    background-color:rgb(119,180,6);
}
.div_inline{
    display:inline;
}
#div_txt_user_container
{
    margin-left: -5px;
    width: 400px;
    height: 81px;
    background-color:rgb(119,180,6);
    
    overflow: hidden;
}
.txt_custom
{
    margin-top:0px;
    padding-left: 5px;
    width: 398px;
    height: 52px;
    font-family: 'Kanit', sans-serif;
    font-size:20px;
}
#div_right_space{
    height:95px;
}

#div_txt_user_container_big
{
    margin-left: -5px;
    width: 400px;
    height: 128px;
    background-color:rgb(119,180,6);
    overflow: hidden;
}

.txt_custom_big
{
    margin-top:0px;
    padding-left: 5px;
    width: 398px;
    height: 120px;
    font-family: 'Kanit', sans-serif;
    font-size:20px;
}
#div_txt_container{
    width:400px;
    height:90px;
    background-color:rgb(119,180,6);
}
#div_submit_btn{
    display:inline-block;
    margin-top: 23px;
    width:168px;
    height:67px;
    line-height: 70px;
    background-color:rgb(84,86,83);
    text-align: center;
    color: rgb(255,255,255);
    border-radius: 8px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
}
#div_submited_word{
    margin-top:270px;
    color: rgb(255,255,255);
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: 30px;

}